.users {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 300px;
  flex: 1 2 auto;
  border-right: 1px solid $border-color;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
  transform: translateX(100%);
  transition: all 0.3s;

  @media screen and (min-width: 680px) {
    position: static;
    transform: none;
    transition: none;
    min-width: 250px;
    max-width: 350px;
    -moz-user-select: auto;
    user-select: auto;
  }
}

.users--toggle-menu {
  transform: translateX(0);
  z-index: 3;
}

.current-user,
.all-users-section {
  padding: 20px;
}


.gridcontainer {
  flex-grow: 1;
  position: relative;
}

.all-users-section {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.current-user {
  border-bottom: 1px solid $border-color;
  background-color: #f1f1f1;
}

.users__text {
  color: $message-text-color;
  margin-bottom: 20px;
}

.users__text--chat-members {
  margin-bottom: 25px;
}

.current-user__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-action {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    color: black;
  }
}

.user-action--delete {
  color: $warning-color;
}

.user-action--logout {
  color: $message-text-color;
  cursor: pointer;

  span {
    font-size: 22px;
  }

  &:hover {
    color: $icon-hover-color;
  }
}
