$message-text-color: #8f9095;
$border-color: #d9d9d9;
$header-color: #6b99bb;
$logo-color: #446e90;
$warning-color: #d43b3b;
$icon-hover-color: #317ad0;
$dark-text-color: #525151;
$font: 'Roboto', sans-serif;
