.new-message-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.message-field {
  padding: 10px 20px;
  flex-basis: 300px;
  flex-grow: 1;
  resize: none;
  outline: 0;
  background-color: transparent;
  overflow: hidden;
  border: none;
  color: #525151;
  min-height: 40px;
  font-size: 16px;

  &::placeholder {
    color: #525151;
  }
}

.send-button {
  flex-basis: 50px;
  outline: 0;
  border: none;
  background: none;
  color: #525151;

  span {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    color: #317ad0;
  }
}