.message-form {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-top: 1px solid $border-color;
  z-index: 1;
}

.message-field {
  padding: 10px 20px;
  flex-grow: 1;
  color: #525151;
  min-height: 80px;
  font-size: 16px;

  &::placeholder {
    color: #525151;
  }
}

.send-button {
  flex-basis: 80px;
  color: $dark-text-color;

  span {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    color: $icon-hover-color;
  }
}