.message-form {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.message-field {
  padding: 10px 20px;
  flex-grow: 1;
  color: #525151;
  min-height: 80px;
  font-size: 16px;

  &::placeholder {
    color: #525151;
  }
}

.send-button {
  flex-basis: 80px;
  color: #525151;

  span {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    color: #317ad0;
  }
}