.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list {
  .user:not(:last-child) {
    margin-bottom: 10px;
  }
}

.user-action--ban {
  color: $warning-color;
}

.user-action--mute {
  color: $logo-color;
}

.user__data {
  position: relative;
}

.user__online-indicator::after {
  content: '';
  display: inline-block;
  background-color: #0a9a67;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.user__admin-label {
  font-size: 12px;
  color: $message-text-color;
  margin-right: 10px;
}

.user__name {
  display: inline-block;
  margin-right: 10px;
}