.message-container {
    display: flex;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #b5f3e1;
    border-radius: 8px;
    overflow: hidden;
}

.system-message {
    text-align: center;
    color: $message-text-color;
    padding: 5px 0 10px;
}

.message-container--from-current-user {
    justify-content: flex-end;

    .message {
        background-color: #b6d6f5;
    }
}

.message__username {
    font-weight: bold;
    margin-bottom: 3px;
}

.user-image {
    flex-shrink: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}