$colors: ("pink": #851d6e, "blue": #2c5aa3, "purple": #541d85, "red": #851d27);

@each $name, $value in $colors {
    .message__username--#{$name}{
        color: $value
    }
}


.message-container {
    display: flex;
}

.message {
    position: relative;
    min-width: 80px;
    max-width: 70%;
    padding: 12px 60px 12px 12px;
    margin-bottom: 5px;
    //background-color: #c8f6ed;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.system-message {
    text-align: center;
    color: $message-text-color;
    padding: 10px 0 15px;
}

.message-container--from-current-user {
    justify-content: flex-end;

    .message {
        background-color: #b6d6f5;
    }
}

.message__username {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.message__date {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: $message-text-color;
    font-size: 12px;
}