.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background-color: $header-color;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

.logo {
  padding: 12px;
  margin-right: 15px;
  font-size: 16px;
  background-color: $logo-color;
  border-radius: 50%;
}

.burger-menu {
  font-size: 28px;
  margin-right: 20px;
  cursor: pointer;

  @media screen and (min-width: 680px) {
    display: none;
  }
}